<%- include('partials/header.ejs') %>

<style>
    h3 {
        color: #1abc9c;
    }
    button {
        background-color: #1abc9c;
        color: white;
        margin-top: 10px;
    }
</style>

<p>
    <h3><b>Contact Us</b></h3>

    We're thrilled that you're interested in reaching out to us! Your thoughts, feedback, and connections mean the world to us. Whether you have a question, a suggestion, or simply want to say hello, this is the place to do it.

    <h3><b>Get in Touch</b></h3>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your Message to Us</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Write here"></textarea>
      </div>
      <button class="btn">Submit</button>

        <h3><b>How to Reach Us</b></h3>

        Email: blogteam@gmail.com <br>
        Place : Palakkad, Kerala <br>
        Postal Code : 678501 <br>

        <h3><b>Collaborations and Contributions</b></h3>

        Are you interested in contributing your own diary entries, musings, or stories? We'd love to hear from you! Share your unique perspective and become a part of our vibrant community.

        Thank you for considering reaching out to us. Your messages are valued and contribute to the heart and soul of Diary Blog. We look forward to hearing from you and embarking on this shared journey of exploration and connection.

       <br>
        Warm regards,

        <br>
        The Diary Blog Team
</p>

<%- include('partials/footer.ejs') %>